body{
    background-color: rgba(240, 255, 240, 0.6);
}

#programming{
    background-color: rgba(128, 255, 0, 0.1);
}

#programming .col-md-auto{
    background-color: rgba(128, 255, 0, 0.07);
}

#database{
    background-color: rgba(128, 255, 0, 0.1);
}

#database .col{
    background-color: rgba(128, 255, 0, 0.06);
}

#framework .col{
    background-color:rgba(248, 248, 255, 0.3);
}

.dropdown-menu{
    background-color: hsl(110, 80%, 95%);
}

img{
    height: 150px;
    width: 150px;
}

.bg-gray{
    background-color: rgb(210, 250, 210);
}

.ltp{
    background-color: honeydew;
}

.rtp{
    background-color: honeydew;
}

.myself{
    background-color:honeydew;
    font-size:1.5rem;
    font-style:oblique;
    line-height: 2;
}

.lang-color{
    background-color: honeydew;
}

.vl{
    border-right: 3px solid gray ;
    height: 10rem;
}

#myBtn {
    opacity: 0.4;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 15px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    height: 45px;
    width: 45px;
  }
  
#myBtn:hover {
    opacity: 0.8;
}

.bottom-link {
    text-decoration: none;
    list-style-type: none;
    font-size: 1.2rem;
    line-height: 1.8;
}

.bottom-link a{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

.bottom-link a:hover{
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    transition: ease 0.8s;
}

.logo:hover {
    transform: scale(1.3);
    transition: ease-in-out 2s;
}

.heart{
    color: hsl(0, 100%, 70%);
}

.heart:hover{
    font-size: 1.2rem;
    transition: 3s ease;
}

.up-bottom{
    background-color: rgba(127, 255, 212, 0.3);
}

.bottom-color{
    background-color: rgba(127, 255, 212, 0.5);
}

#message{
    background-color: rgba(248, 248, 255, 0.719);
}

.modal-header{
    background-color: rgb(210, 250, 210);
}

.modal-body{
    background-color: rgba(240, 255, 240, 0.6);
}

.modal-body input {
    background-color: rgba(128, 255, 0, 0.04);
}

.modal-body textarea {
    background-color: rgba(128, 255, 0, 0.04);
}

.modal-footer{
    background-color: hsla(90, 100%, 75%, 0.5);
}